body {
    background-color: rgb(162, 202, 16);
}
* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.container {
    background: #f80808;
    color: #fff;
    padding: 2rem;
    width: 70%;
    margin: 4rem auto;
    border-radius: 40px;
}
.weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: #fafafa;
    outline: none;
    color: #2c282800;
    padding: 0.3rem 2.3rem;
}