body {
    background-color: rgba(65, 161, 149, 0.589);
}
* {
    text-align: center;
    font-size: 22px;
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.container {
    background: #f80808;
    color: #fff;
    padding: 2rem;
    width: 70%;
    margin: 4rem auto;
    border-radius: 40px;
}
.weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: #fafafa;
    outline: none;
    color: #2c2828fa;
    padding: 0.3rem; 
    border-radius: 5px;
}


input::placeholder {
    color:#070000;

}



.weather-units span:first-child {
    margin-right: 0.8rem;
}
.weather-max-min {
    text-align: center;
    margin-top: 8rem;
    
}
.weather-date-time {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 40px;
}

.weather-forecast {
    text-align: center;
    background: #745dda;
    display: inline-block;
    padding: 1rem;
    border-radius: 20px;
    
}

.weather-icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

}
.weather-info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.weather-humidity {
    text-align: center;
}

.weather-city {
    text-align: center;
    font-size: 50px;
}

.weather-search {
    position: fixed;
    left: 50%;
    padding: 0.5rem;
}

.weather-temperature {
    text-align: center;
    font-size: 1.75 rem;
}